<!-- branch_1 Dummy -->
                      <tbody>
                          <tr style="background-color: antiquewhite;">
                              <td colspan="8">1. Terwujudnya kualitas sumber daya manusia untuk menghasilkan lulusan yang berdaya saing global</td>
                          </tr>
                          <tr>
                              <td colspan="1"></td>
                              <td colspan="6" style="background-color: rgb(112, 228, 112);">1. Terwujudnya kualitas sumber daya manusia untuk menghasilkan lulusan yang berdaya saing global</td>
                              <td colspan="1"  style="background-color: rgb(112, 228, 112);">Direktur</td>
                          </tr>
                          <tr>
                              <td colspan="2"></td>
                              <td colspan="5" style="background-color: rgb(224, 196, 159);">[IKU 1.1] Persentase lulusan S1 dan D4/D3/D2 yang berhasil mendapat pekerjaan; melanjutkan studi; atau menjadi wiraswasta</td>
                              <td colspan="1"  style="background-color:  rgb(224, 196, 159);"></td>
                          </tr>
                          <tr>
                              <td colspan="3"></td>
                              <td colspan="4" style="background-color: rgb(218, 218, 236);">[IKU 1.1] Persentase lulusan S1 dan D4/D3/D2 yang berhasil mendapat pekerjaan; melanjutkan studi; atau menjadi wiraswasta</td>
                              <td colspan="1"  style="background-color:  rgb(218, 218, 236);">Wadir 4</td>
                          </tr>
                          <tr>
                              <td colspan="4"></td>
                              <td colspan="1" style="background-color: white;">U11.1</td>
                              <td colspan="2" style="background-color: white;">Jumlah lulusan prodi yang mendapatkan pekerjaan pertama dengan waktu tunggu ≤ 6 bulan dan bergaji ≥ 1.2 x UMP
                              <td colspan="1" style="background-color: white;">Ukarni</td>
                          </tr>
                          <tr>
                              <td colspan="4"></td>
                              <td colspan="1" style="background-color: white;">U11.1</td>
                              <td colspan="2" style="background-color: white;">Jumlah lulusan prodi yang mendapatkan pekerjaan pertama dengan waktu tunggu ≤ 6 bulan dan bergaji ≥ 1.2 x UMP
                              <td colspan="1" style="background-color: white;">Ukarni</td>
                          </tr>
                          <tr>
                              <td colspan="4"></td>
                              <td colspan="1" style="background-color: white;">U11.1</td>
                              <td colspan="2" style="background-color: white;">Jumlah lulusan prodi yang mendapatkan pekerjaan pertama dengan waktu tunggu ≤ 6 bulan dan bergaji ≥ 1.2 x UMP
                              <td colspan="1" style="background-color: white;">Ukarni</td>
                          </tr>
                      </tbody> 
                      <!-- branch_1 Dummy -->